.date-form h4 {
    margin: 0px 0 20px 0;
}
@media only screen and (min-width: 1200px){
    .date-form .second-form {
        text-align: end;
    }
    .date-form .first-form button {
        margin-left: 8px;
    }
    .date-form .second-form button {
        padding: 10px 20px;
        margin: 15px 0 0 0;
    }
    .date-form .text{
        margin:0 3px;
    }
    .date-form .text-second{
        margin: 0 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    
    .date-form .first-form button {
        margin-left: 20px;
    }
    .date-form .second-form {
        text-align: center;
    }
    .date-form .second-form button {
        padding: 10px 0px;
        margin: 30px 0px 0 0;
        width: 98%;
    }
    .date-form .text{
        margin:0 10px;
    }
    .date-form .text-second{
        margin:10px 0;
    }
}

@media only screen and (max-width: 768px){
    .date-form .first-form button {
        margin: 30px 0;
        padding: 10px 0;
        width: 100%;
    }
    .date-form .second-form button {
        margin: 30px 0;
        padding: 10px 0;
        width: 100%;
    }
    .date-form .text, .date-form .text-second{
        text-align: start;
        margin: 10px 0;
    }
}