.dropzone{
    background-color: rgb(243, 243, 243);
    border: 2px dashed gray ;
    padding: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.dropzone p{
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.drag-img {
    display: 'block';
    width: 'auto';
    height: '100%';
}