.add-part {
    padding: 20px;
}

.add-part .nav-link{
    background-color: #727272 !important;
    color: white !important;
    margin-right: 2px;
}
.add-part .nav-item .active{
    background-color: #004b6e !important;
    color: white !important ;
    border-color: #004b6e #004b6e #004b6e !important;
}

.add-container h2 {
    margin-bottom: 30px;
}
.add-container label {
    align-self: center;
}
.add-container .add-btn-container{
    display: flex;
}



@media only screen and (min-width: 992px) {
    .add-container .add-btn-container{
        justify-content: end;
        margin-top: 5%;
    }

    .add-container .add-btn-container button{
        margin: 0 5px;
    }
}

@media only screen and (max-width: 992px) {
    .add-container .add-btn-container{
        justify-content: center;
        margin-top: 5%;
    }
    .add-part .nav-link{
        margin-top: 5px ;
    }

    .add-container .add-btn-container button{
        margin: 0 10px;
    }
}