.language-btn {
    cursor: pointer;
    color: white
}

.language-container {
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: end;
    background-color: #004b6e;
    background-image: linear-gradient(45deg, #063348, #004b6e);
    height: 30px;
    align-items: center;
}

.language-container .language-btn {
    padding: 0 10px;
    margin: 0 10px;
    font-weight: bold;
    border-radius: 2px;
    user-select: none;
}

#th:active {
    box-shadow: 1px 0 1px 0 #ebebeb;
    background-color: #ebebeb !important;
    transform: scale(0.95);
}
#th:hover{
    background-color: whitesmoke;
    transition: background-color .4s ;
}
#th:hover span:nth-child(1){
    color: #004b6e;
    transition: color .5s ;
}
#th:hover span:nth-child(2){
    color: #dc3545;
    transition: color .8s ;
}

#en:active {
    box-shadow: 1px 0 1px 0 #ebebeb;
    background-color: #ebebeb !important;
    transform: scale(0.95);
}
#en:hover{
    background-color: whitesmoke;
    transition: background-color .4s ;
}
#en:hover span:nth-child(1){
    color:  #dc3545;
    transition: color .5s ;
}
#en:hover span:nth-child(2){
    color: #004b6e;
    transition: color .8s ;
}