.main-container {
    background-image: url('/waterMainBG.png');
    background-size: contain;
    background-repeat: repeat;
}
.map-row {
    width: 100%; 
    text-align: center;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 10%);
}
.map-row .row{margin: 0; padding: 0;}


@media only screen and (min-width: 992px) {
    .map-row .col{margin: 0; padding: 0;}
}