.row {
        margin: 0 !important;
        padding: 0 !important;
}

.f-bold {font-weight: bold !important;}
@media only screen and (min-width: 992px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 420px) {
        .mobile-mt-3{
                margin-top: 10px;
        }
}
