#footer {
    margin-top: 30px;
}

#footer .footer-1{
    background-color: white;
    background-image: url('/mainBG.png');
    box-shadow: 0px -2px 3px 0 #aaaaaa;
    align-items: center;
    height: auto;
}

#footer img {
    height: 85px;
    margin: 20px 10px;
}

#footer a {
    margin: 0 20px;
}
#footer svg, #footer i {
    padding: 5px 10px;
    display: inline-block;
    background-color: #004b6e;
    color: #e9eff5;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 6px 0px #848484;
    transition: all .2s ease-out;
} 

#footer svg:hover, #footer i:hover {
    background-color: #56818e;
    box-shadow: 1px 1px 8px 0px #848484;
    transition: all .2s ease-out;
}

#footer svg:active, #footer i:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 10px 0px #bebebe;
    transition: all .1s ease-out;
}

#footer .footer-2{
    text-align: end;
    background-color: #004b6e;
    color: white;
    padding: 3px 10px;
    background-image: linear-gradient( 265deg, #063348, #004b6e);
}

@media only screen and (max-width: 768px){
    #footer {text-align: center !important;}
    #footer .footer-2{text-align: end;}
    #footer img {
        height: 70px;
    }

}

@media only screen and (max-width: 450px){
    #footer a {
        margin: 0 10px;
    }
    #footer img {
        height: 70px;
        margin: 10px 5px;
    }
}