
.btn-AddData {
    border: none;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
}
.btn-AddData img {
    border-radius: 50%;
    height: 45px;
    transition: all .3s;
    z-index: 1;
    border: thin solid #004b6e;
    padding: 3px;
    box-shadow: 1px 1px 3px 0 #7d7d7d;
}
.btn-AddData:hover img {
    transition: all .3s;
}

.btn-AddData span {
    background-color: #737677;
    color: white;
    border-radius: 5px;
    width: 130px;
    padding: 5px 0px;
    position: absolute;
    left: -150%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 0;
    transition: all .3s;
}
.btn-AddData:hover span{
    left: -260%;
    opacity: 1;
    transition: all .3s;
}

.btn-AddData-cancel{
    border: none;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
}
.btn-AddData-cancel img {
    border-radius: 50%;
    height: 45px;
    transform: translateY(1px);
    box-shadow: 1px 1px 2px 0 #7d7d7d;
    transition: all .3s;
    z-index: 1;
    border: thin solid #004b6e;
    padding: 5px;
}
.btn-AddData-cancel span{
    background-color: #004b6e;
    color: white;
    border-radius: 5px;
    left: -250%;
    opacity: 1;
    width: 130px;
    padding: 5px 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    transition: all .3s;
}

