.default-btn-green{background-color: #0d6c0e;}
.default-btn-red{ background-color:  #b84448;}
.default-btn-blue{background-color: #394a74;}
.default-btn-lightBlue{background-color: #1c42a0;}
.default-btn{
    height: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 10%);
    color: white;
    padding: 8px 10px;
    user-select: none;
    transition: all .2s ease-out;
    white-space: nowrap;
}
.default-btn:hover {    
    box-shadow: 0px 0px 5px 3px rgb(0 0 0 / 10%);
    transition: all .2s ease-out;
}
.default-btn:active{
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 10%);
    transform: translateY(1px);
    transition: all .1s;
}
.default-btn img {
    width: 28px;
    height: 28px;
    pointer-events: none;
}
.default-btn span {
    vertical-align: middle;
    margin-left: 8px;
    pointer-events: none;
}
.default-btn-active{
    background-color: #6d6f74;
    color: white;
    user-select: none;
    transition: all .2s ease-out;
}

.close-btn {
    border: none;
    background-color: white;
    font-weight: bold;
    width: 40%;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
    color: #004b6e;
    padding: 10px 20px;
    transition: all .2s ease-out;
}
.close-btn:hover {
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
    background-color: #d8d8d8;
    transition: all .2s ease-out;
}
.close-btn:active {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    transform: translateY(1px);
    transition: all .1s;
}
.red-btn{
    white-space: nowrap;
    border: none;
    background-color: #dc3545;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 10%);
    color: white;
    padding: 5px 20px;
    user-select: none;
    transition: all .2s ease-out;
}
.red-btn:hover {
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
    background-color: #bc0012;
    transition: all .2s ease-out;
}
.red-btn:active {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    transform: translateY(1px);
    transition: all .1s;
}
@media only screen and (max-width: 576px) {
    .default-btn{
        width: 100%;
        margin: 2px;
    }
    .fillter-block .col-12{
        margin: 5px 0 !important;
    }
    .search-container {
        margin: 5px 2px 2px 2px !important;
    }
}

@media only screen and (max-width: 992px){
    .default-btn {
        padding: 5px 8px;
        width: 100%;
    }
    .fillter-block .col-12{
        margin: 5px 0 !important;
    }
}