.header-btn{
    white-space: nowrap;
    border: none;
    background-color: #004b6e;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
    color: white;
    padding: 5px 20px;
    opacity: 1;
    user-select: none;
    transition: all .2s ease-out;
}

.header-btn:hover {
    opacity: .9;
    transition: all .2s ease-out;
}

.header-btn:active{
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    transform: translateY(1px);
    transition: all .1s;
}

@media only screen and (min-width: 1340px){
    .header-btn, .red-btn {
        font-weight: bold;
    }
}