 .modal-default-btn{
     height: 100%;
    border: none;
    background-color: #004b6e;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
    color: white;
    padding: 5px 20px;
    opacity: 1;
    user-select: none;
    transition: all .2s ease-out;
 }

 .modal-default-btn:hover {
    opacity: .9;
    transition: all .2s ease-out;
}

.modal-default-btn:active{
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    transform: translateY(1px);
    transition: all .1s;
}
.align-self-center {
    align-self: center;
}
.scatterChart svg{
    width: 100%;
}
@media only screen and (max-width: 992px){
    .dateForm input {
        width: 100%;
        margin-top: 10px;
    }
    .search-modal-btn{
        text-align: end;
        margin: 10px 10px 0 0 !important;
    }
}
