
.just-end {justify-content: end;}
.pd-0 {padding: 0 !important;}
.search-icon {
    padding: 0 !important;
    margin: 0;
    background-color: #004b6e;
    border-radius: 5px 0 0 5px;
    
}
.search-icon label{
    height: 100%;
}
.search-icon svg, .search-icon i {
    margin-top: 8px;
    color: whitesmoke;
    padding: 0 10px;
    cursor: pointer;
    vertical-align: middle;
}

.main-container input, .main-container select, .add-part input, .add-part select{
    box-shadow: none !important;
    transition: all .2s ease-out;
}
.main-container input:focus, .main-container select:focus, .add-part input:focus, .add-part select:focus {
    border: thin solid #004b6e !important;
    transition: all .2s ease-out;
}
#search-form {
    border-radius: 0 5px 5px 0 !important;
}

@media screen and (max-width: 576px){
    .fillter-bar {
        margin: 10px;
    }
}
@media screen and (min-width: 576px) {
    .fillter-bar {
        margin: 20px 0;
    }
    .fillter-bar .fillter-block {
        margin: 0px 0 !important;
    }
    .fillter-block .col-12{
        margin:  0;
    }
}

