.main-container{position: relative;}
.header-container{
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 90;
}
.header-container img {
    height: 90px;
    cursor: pointer;
}
.header-container .header-text {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .1px;
    color: #004b6e;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
.header-container .headTab-container {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: white;
    background-image: url('/mainBG.png');
    color: white;
    box-shadow: 0px 2px 3px 0 #aaaaaa;
}
.header-container .login-container {
    margin: 0 20px 0 0 !important;
}
.header-container a{
    color: white;
    text-decoration: none;
}
.header-container a:hover{
    color: white;
    text-decoration: none;
}
.header-container .headTab-container .flex-left {
    flex: 40%;
    justify-content: start;
}
.header-container .headTab-container .flex-right {
    display: flex;
    flex: 60%;
    justify-content: end;
}
.header-container .headTab-container .flex-item {
    margin: 0 5px;
}

.header-container .headTab-container .flex-item img{
    margin: 0 20px;
    cursor: pointer;
}
.header-container .hidden-signIn {
    position: fixed;
    top: -100%;
    opacity: 0;
    z-index: -1;
    width: 100%;
    padding: 10% 0;
    background-color: rgba(1, 64, 122, 0.65);  
    transition: all .5s ease-out;
}
.header-container .display-signIn {    
    position: fixed;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 1;
    width: 100%;
    padding: 10% 0;
    background-color: rgba(0, 26, 49, 0.65); 
    transition: top .5s ease-out;
}
.mobile {
    display: none;
}


@media only screen and (max-width: 700px){
    .header-container .headTab-container .flex-item img {
        margin: 0 5px 0 1px;
    }
    .mobile {
        display: inline-block !important;
    }
    .desktop{
        display: none !important;
    }
    .header-text {
        font-size: 16px !important  ;
    }
}

#test {
    content: "test";
}