.header-container .headTab-container #menu-icon {
    display: none;
}
 @media only screen and (max-width: 1340px){
    .header-container .headTab-container #menu-icon {
        display: block;
        cursor: pointer;
        margin-right: 20px;
        font-size: 30px;
        color: #014666;
    }
    .header-container .headTab-container .flex-right {
        display: block;
        position: fixed;
        top: 120px;
        right: -60%;
        z-index: -1;
        padding: 20px 0px 20px 20px;
        border-radius: 0 0 0 20px;
        background-color: #f1f1f1;
        transition: all .5s ease-out;
    }
    .flex-right .flex-item{
        padding: 10px 5px;
    }
    .header-container .headTab-container .flex-right-mobile {
        right: 0;

        transition: all .3s ease-out;
    }
 }