.signForm-container {
    max-width: 600px;
    margin:0 auto;
}

.signForm-container input {
    border-radius: 5px !important;
}

.signForm-container .form-label{
    color: white;
    font-size: 20px;
    
}

.signForm-container .sign-btn-container{
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}



@media only screen and (max-width: 768px) {
    .signForm-container {
        padding: 10px 40px;
    }
}